.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header{
  font-size: 14px;
  position: relative;
  display: flex;
  padding: 0 10%;
  z-index: 2;
  height: 70px;
  border-bottom: 1px solid black;
  
}

header img {
  position: relative;
  height: 50px;
  margin :10px;
}

.right-header{
  height: 60px;
  width: 60px;
  justify-content: right;
  position: absolute;
  right: 10%;
  top: 13%;
  border-radius: 100%;
}
.right-header img{
  height: 60px;
  width:60px;
  position: relative;
  border-radius: 100%;
  right: 18%;
  top: -18%;
}

.container{
  border: 1px solid;
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 20px;
  padding:0 5% 5% 5%;
  text-align: left;
}


.normal-container{
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 20px;
  padding:0 5% 5% 5%;
  text-align: left;
  
}

#boys{
  width: 200px;
  height: 200px;
  background-color: lightcyan;
  display: inline-block;
}

#girls{
  width: 200px;
  height: 200px;
  background-color: lightpink;
  display: inline-block;
}